name: github_project_reporter

volumes:
  postgres:

networks:
  common:


services:
  postgres:
    image: postgres:18
    restart: unless-stopped
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
    expose:
      - 5432
    volumes:
      - postgres:/var/lib/postgresql
    networks:
      - common

  app:
    image: ghcr.io/yakovlev05/github-project-reporter
    restart: unless-stopped
    environment:
      - GITHUB_TOKEN=${GITHUB_TOKEN}
      - NEW_ISSUES_REPORTER_TASK_DELAY=${NEW_ISSUES_REPORTER_TASK_DELAY}
      - TIME_WINDOW_TO_NOTIFY=${TIME_WINDOW_TO_NOTIFY}
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
      - TELEGRAM_CHAT_ID=${TELEGRAM_CHAT_ID}
      - JDBC_URL=${JDBC_URL}
      - JDBC_USER=${JDBC_USER}
      - JDBC_PASSWORD=${JDBC_PASSWORD}
      - APP_IS_PRODUCTION=${APP_IS_PRODUCTION}
    networks:
      - common
    depends_on:
      postgres:
        condition: service_started
