name: github_project_reporter

volumes:
  postgres:

networks:
  common:

services:
  postgres:
    image: postgres:18
    restart: unless-stopped
    environment:
      - POSTGRES_DB=${POSTGRES_DB:-github-project-reporter}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-password}
      - POSTGRES_USER=${POSTGRES_USER:-user}
    ports:
      - '5432:5432'
    volumes:
      - postgres:/var/lib/postgresql
    networks:
      - common

  app:
    build:
      context: .
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - JDBC_URL=jdbc:postgresql://postgres:5432/github-project-reporter
      - APP_IS_PRODUCTION=true
    networks:
      - common
    depends_on:
      postgres:
        condition: service_started
