<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--С подцветкой level: <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %highlight(%-5level) [%thread] %logger{36} &#45;&#45; %msg%n</pattern>-->
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %-5level [%thread] %logger{36} &#45;&#45; %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
